
<div class="content">
    <ul *ngIf="disastrousAsteroids.length > 0; else elseBlock">
      <li>Possible Collisions: <span class="counter">{{disasterCounter}}</span></li>
      <hr>
      <li class="list-item" *ngFor="let asteroid of displayedAsteroids; index as i;" >
        <span class="name">{{asteroid.name}}</span> - <small class="size">{{asteroid.estimated_diameter.miles.estimated_diameter_max}}</small>
      </li>
      <mat-paginator
      class="paginator"
      [length]="disastrousAsteroids.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10]"
      (page)="onPageChange($event)"
      >
      </mat-paginator>
    </ul>
    <ng-template #elseBlock>
      <div class="noData">
        <p>No Data</p>
        <small>Please try a different date!</small>
      </div>
    </ng-template>

    <div class="bottom-container">
      <ul>
        <li>Name: <span class="name">Red</span></li>
        <li>Size <small>(Diameter in Miles)</small>: <span class="size">Orange</span></li>
      </ul>
      <form class="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" [formControl]="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" [formControl]="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button type="submit" color="accent">Submit</button>
      </form>
    </div>
  </div>

