

:host {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
    height: 100%;
    background-image: url('../../assets/asteroid1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .counter {
      color: yellow;
    }

    ul {
      margin: 0;
      padding: 0;
      padding-top: 5%;
      padding-left: 5%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      text-decoration: none;
      font-family: sans-serif;
      color: white;

      hr {
        color: purple;
        background-color: yellow;
      }

      li {
        text-decoration: none;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    .paginator {
      display: flex;
      justify-content: center;
      padding-top: 2%;
      max-width: 403px;
      background-color: transparent;
    }

    .noData {
      padding-top: 5%;
      padding-left: 5%;
      color: white;
      height: 100%;

      p {
        font-weight: bold;
        font-size: 1.75;
      }

    }

    .bottom-container {
      display: flex;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
      ul {
        margin: 0;
        padding: 0;
      }

      .form {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-left: 26px;
      }
    }

    .name {
      color: red;
    }

    .size {
      color: orange;
    }
}





