<main class="main">
  <div class="content">
    <ul>
      <li>Dangerous Objects {{disastrousAsteroids.length}}</li>
    </ul>

    <!-- <mat-list>
      <div mat-subheader>Folders</div>
      @for (asteroid of disastrousAsteroids; track asteroid) {
        <mat-list-item>
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{asteroid.name}}</div>
          <div matListItemLine>Size</div>
        </mat-list-item>
      }
      <mat-divider></mat-divider>
    </mat-list> -->
  </div>
</main>

