body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

:host {
  display: block;
  height: 100%;
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-paginator-container {
  display: flex !important;
  justify-content: flex-start !important;
}
